In [1]:
# Importing the libraries
import numpy as np
import pandas as pd

In [2]:
# Importing the dataset
dataset = pd.read_csv('AI-DataTrain.csv')
dataset.drop(columns = ['Unnamed: 0'], inplace = True)
dataset.head()

,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10,...,Q41,Q42,Q43,Q44,Q45,Q46,Q47,Q48,Q49,Q50
0,0,1,0,0,0,0,0,1,0,1,...,0,0,1,1,1,0,0,0,1,1
1,1,1,0,1,0,0,0,1,0,1,...,0,1,0,0,0,0,0,0,0,0
2,1,1,0,0,1,0,1,1,0,1,...,1,1,0,0,1,0,1,0,1,1
3,1,1,0,0,1,1,1,0,0,1,...,0,0,0,1,1,0,0,0,1,0
4,1,0,0,1,1,0,0,1,0,1,...,1,0,1,1,1,0,1,0,1,1

In [3]:
# Transposing the dataset
data_trans = dataset.T
data_trans.head()

,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
Q1,0,1,1,1,1,1,1,0,0,1,...,1,1,1,1,0,0,0,1,1,1
Q2,1,1,1,1,0,0,1,1,1,1,...,1,0,1,1,0,0,0,1,1,0
Q3,0,0,0,0,0,0,1,1,0,1,...,0,0,0,1,0,0,0,0,0,0
Q4,0,1,0,0,1,0,1,0,1,1,...,1,1,1,0,0,0,1,1,1,0
Q5,0,0,1,1,1,1,1,1,1,1,...,1,1,1,0,1,1,0,0,1,1

In [4]:
# Calculating the Response Accuracy
sums = data_trans.sum(axis = 1)
response_accuracy = sums/len(list(data_trans.columns))
response_accuracy

Q1     0.517
Q2     0.527
Q3     0.303
Q4     0.479
Q5     0.746
Q6     0.166
Q7     0.424
Q8     0.422
Q9     0.528
Q10    0.925
Q11    0.683
Q12    0.714
Q13    0.299
Q14    0.520
Q15    0.788
Q16    0.698
Q17    0.573
Q18    0.518
Q19    0.563
Q20    0.174
Q21    0.451
Q22    0.740
Q23    0.321
Q24    0.310
Q25    0.657
Q26    0.517
Q27    0.528
Q28    0.597
Q29    0.546
Q30    0.864
Q31    0.531
Q32    0.279
Q33    0.019
Q34    0.269
Q35    0.682
Q36    0.306
Q37    0.569
Q38    0.470
Q39    0.223
Q40    0.399
Q41    0.516
Q42    0.702
Q43    0.341
Q44    0.499
Q45    0.810
Q46    0.367
Q47    0.109
Q48    0.177
Q49    0.662
Q50    0.427
dtype: float64

In [5]:
# Calculating Question Difficulty
diff_level = 1 - response_accuracy

qd = dict(diff_level)
qd_values = list(qd.values())

diff_level

Q1     0.483
Q2     0.473
Q3     0.697
Q4     0.521
Q5     0.254
Q6     0.834
Q7     0.576
Q8     0.578
Q9     0.472
Q10    0.075
Q11    0.317
Q12    0.286
Q13    0.701
Q14    0.480
Q15    0.212
Q16    0.302
Q17    0.427
Q18    0.482
Q19    0.437
Q20    0.826
Q21    0.549
Q22    0.260
Q23    0.679
Q24    0.690
Q25    0.343
Q26    0.483
Q27    0.472
Q28    0.403
Q29    0.454
Q30    0.136
Q31    0.469
Q32    0.721
Q33    0.981
Q34    0.731
Q35    0.318
Q36    0.694
Q37    0.431
Q38    0.530
Q39    0.777
Q40    0.601
Q41    0.484
Q42    0.298
Q43    0.659
Q44    0.501
Q45    0.190
Q46    0.633
Q47    0.891
Q48    0.823
Q49    0.338
Q50    0.573
dtype: float64

In [6]:
# Preparing the Student Ability List
student_ability = []
for i in range(len(dataset)):
    row = dict(dataset.loc[i, :])
    values = list(row.values())
    sa = [qd_values[i] * values[i] for i in range(len(values))]
    cum_sa = np.sum(sa)
    student_ability.append(cum_sa)

In [7]:
student_ability

[8.187999999999999,
 10.311,
 10.568999999999999,
 13.338,
 13.206999999999999,
 9.264,
 14.094999999999999,
 9.303999999999998,
 11.207,
 10.336,
 13.456999999999999,
 10.206999999999999,
 9.747,
 12.673,
 11.594999999999999,
 10.196000000000002,
 13.277,
 9.187000000000001,
 10.172,
 9.943000000000001,
 9.147,
 9.457,
 11.879999999999999,
 9.181,
 11.515,
 12.979000000000001,
 11.638,
 12.470999999999998,
 11.404,
 9.965,
 12.827,
 11.684999999999999,
 10.061,
 9.414,
 9.954999999999998,
 10.607000000000001,
 13.628,
 9.803,
 10.565,
 10.171999999999999,
 8.477,
 10.620999999999999,
 8.870000000000001,
 15.339,
 8.875,
 7.074,
 12.148,
 10.652000000000001,
 8.651,
 13.844999999999999,
 12.65,
 10.256,
 8.589999999999998,
 9.734,
 10.089,
 9.964,
 10.155000000000001,
 9.586,
 13.685,
 9.546999999999999,
 11.173,
 10.616999999999999,
 9.943999999999999,
 8.166,
 11.196,
 10.331,
 7.292000000000001,
 9.376,
 9.26,
 9.935,
 10.592999999999998,
 8.991,
 10.249999999999998,
 11.764999999999999,
 11.059999999999999,
 11.3,
 9.161999999999999,
 10.78,
 7.926,
 11.4,
 13.793000000000001,
 8.727,
 12.363,
 9.947,
 11.706999999999999,
 9.501,
 11.077999999999998,
 8.735000000000001,
 9.279,
 11.866,
 11.491999999999999,
 11.937999999999999,
 11.69,
 10.914,
 10.976,
 11.029,
 11.591000000000001,
 7.055999999999999,
 12.573,
 10.429,
 12.394999999999998,
 9.700000000000001,
 8.623,
 11.784999999999998,
 12.205,
 10.127999999999998,
 10.52,
 9.854999999999999,
 11.578999999999999,
 11.671,
 9.302,
 10.304,
 10.002999999999998,
 8.736999999999998,
 11.716999999999999,
 8.514999999999999,
 11.271999999999998,
 10.299,
 9.521,
 10.147999999999998,
 12.485000000000001,
 10.397,
 12.789,
 8.808,
 13.568,
 7.247,
 9.497,
 10.405,
 10.592999999999998,
 10.103,
 9.342,
 7.991999999999999,
 10.524,
 11.517,
 8.473,
 11.319999999999999,
 7.956999999999999,
 9.167,
 10.196,
 13.472999999999999,
 8.369,
 9.145999999999999,
 10.826999999999998,
 10.386,
 11.897,
 13.422,
 11.08,
 11.885,
 10.073,
 8.38,
 9.620999999999999,
 9.54,
 12.79,
 11.762999999999998,
 9.359000000000002,
 10.205,
 10.636999999999999,
 11.92,
 11.129,
 12.802999999999999,
 6.752999999999999,
 7.242000000000001,
 11.042000000000002,
 10.056999999999999,
 12.915,
 9.414,
 8.17,
 11.325,
 11.439,
 10.884,
 10.729999999999999,
 11.199000000000002,
 11.262999999999998,
 12.309,
 9.481,
 10.645,
 13.078,
 8.609000000000002,
 8.23,
 10.338000000000001,
 9.959999999999999,
 12.418000000000001,
 10.993999999999998,
 10.742,
 9.655999999999999,
 10.909999999999998,
 10.073,
 8.867999999999999,
 9.178999999999998,
 9.472,
 8.172,
 8.92,
 11.019,
 10.372,
 10.718,
 11.315999999999999,
 9.725,
 9.564,
 12.235999999999999,
 10.133,
 8.485,
 12.004999999999999,
 12.156,
 12.94,
 9.325,
 10.556000000000001,
 14.150000000000002,
 7.369,
 11.424999999999999,
 10.495999999999999,
 11.198,
 13.137,
 10.975999999999999,
 10.092999999999998,
 8.052,
 7.430000000000001,
 11.553,
 10.211999999999998,
 7.609,
 10.678999999999998,
 11.342,
 10.075999999999999,
 10.514999999999999,
 11.016,
 10.048,
 11.618999999999998,
 13.824000000000002,
 10.412,
 11.234,
 11.950999999999999,
 10.141,
 8.829,
 8.187,
 11.016999999999998,
 10.815999999999999,
 10.439,
 7.962,
 15.021999999999998,
 8.947999999999999,
 10.128,
 11.178,
 10.682,
 10.796,
 9.901,
 9.404,
 13.638999999999998,
 9.670000000000002,
 11.261999999999999,
 8.610999999999999,
 10.967999999999998,
 12.734,
 11.577,
 8.078,
 8.866999999999999,
 10.352,
 11.761999999999999,
 11.536999999999999,
 9.171,
 11.665999999999999,
 8.802,
 11.24,
 8.866,
 10.742999999999999,
 9.543999999999999,
 10.688,
 14.03,
 7.965999999999999,
 8.535,
 10.33,
 9.812000000000001,
 11.572000000000001,
 8.391,
 11.213000000000001,
 10.507,
 10.597,
 8.937999999999999,
 7.880000000000001,
 10.045,
 13.581,
 9.573,
 8.938999999999998,
 11.403,
 12.149,
 8.990999999999998,
 9.484,
 10.161999999999999,
 7.297,
 11.280000000000001,
 13.254,
 11.798,
 13.09,
 10.924999999999999,
 8.996,
 13.679,
 8.437,
 10.880999999999998,
 9.478,
 8.135,
 13.813,
 8.296,
 7.156000000000001,
 9.033000000000001,
 10.620999999999999,
 10.204,
 10.604,
 6.57,
 10.06,
 10.392,
 10.036,
 14.242999999999999,
 13.548000000000002,
 8.414,
 10.304,
 8.421,
 9.187999999999999,
 12.238999999999999,
 7.735,
 9.692,
 12.741,
 11.933,
 7.143000000000001,
 8.215,
 12.299999999999999,
 9.758,
 12.134,
 8.623,
 8.998,
 8.556000000000001,
 11.36,
 9.609,
 8.556000000000001,
 9.335999999999999,
 11.108,
 9.780999999999999,
 10.207999999999998,
 11.072,
 9.629999999999999,
 12.086,
 9.199,
 10.347,
 11.72,
 9.525999999999998,
 8.213,
 9.375,
 10.046,
 9.301,
 8.338000000000001,
 9.373000000000001,
 7.948,
 10.469,
 11.505,
 10.706999999999999,
 12.321,
 9.905,
 11.796,
 10.438,
 12.029,
 11.790999999999999,
 11.843,
 14.395,
 9.415,
 10.427999999999999,
 13.761,
 11.284999999999998,
 11.095999999999998,
 9.193,
 10.982999999999999,
 10.606,
 12.147,
 7.592,
 12.556,
 12.556000000000001,
 9.484,
 9.748,
 11.34,
 11.092,
 10.309000000000001,
 10.411,
 8.264999999999999,
 10.62,
 10.421000000000001,
 12.475999999999999,
 10.161999999999999,
 8.844000000000001,
 9.389,
 11.001000000000001,
 12.9,
 12.464999999999998,
 11.336,
 10.392,
 10.668,
 13.229,
 7.611,
 7.242999999999999,
 13.649999999999999,
 9.065,
 11.433,
 10.33,
 8.09,
 9.481,
 15.011999999999999,
 10.15,
 10.836,
 10.735999999999999,
 11.592999999999998,
 10.837,
 9.102,
 8.761999999999999,
 7.492000000000001,
 11.243,
 9.309000000000001,
 8.862,
 8.009999999999998,
 11.087,
 10.47,
 11.763,
 10.048,
 12.271999999999998,
 11.395999999999999,
 11.242,
 10.703999999999999,
 7.476,
 10.706,
 12.998999999999999,
 13.610000000000001,
 11.289,
 8.18,
 13.962,
 10.804,
 9.878,
 15.533999999999999,
 16.951,
 11.394,
 13.617999999999997,
 10.039,
 10.322,
 10.997,
 12.242,
 12.999999999999998,
 10.578,
 11.234,
 15.232,
 9.206999999999999,
 7.886000000000001,
 6.957999999999999,
 9.615,
 6.464,
 12.043000000000001,
 9.367,
 8.006,
 12.656,
 14.812,
 10.451,
 10.317,
 9.697,
 11.843,
 8.95,
 12.283,
 12.904,
 10.248,
 12.254,
 7.428,
 11.097999999999999,
 11.239,
 10.208,
 10.879,
 9.223999999999998,
 11.348999999999998,
 13.354,
 13.165999999999999,
 9.313999999999998,
 10.412999999999998,
 10.526,
 8.505,
 9.604999999999999,
 12.746,
 11.426000000000002,
 9.937,
 11.751999999999999,
 10.133000000000001,
 9.701,
 6.811999999999999,
 10.565,
 11.759,
 7.492999999999999,
 10.336,
 9.346,
 12.025,
 10.459999999999999,
 8.93,
 9.284999999999998,
 7.991,
 12.545,
 9.771,
 10.876999999999999,
 11.588,
 9.719999999999999,
 9.343,
 11.565,
 11.112,
 10.459,
 13.674999999999999,
 11.533999999999999,
 11.4,
 9.221,
 9.859,
 7.595000000000001,
 8.343,
 11.790000000000001,
 7.475,
 10.540999999999999,
 8.232,
 11.077000000000002,
 11.565,
 10.020999999999999,
 12.459999999999999,
 10.761,
 9.794,
 7.903,
 11.453000000000001,
 11.132999999999997,
 9.064,
 7.235,
 9.906999999999998,
 14.378,
 9.916,
 8.452,
 11.971,
 8.68,
 11.234,
 8.337,
 13.334999999999999,
 8.791,
 12.176,
 8.169,
 12.854999999999999,
 10.315999999999999,
 12.28,
 11.4,
 10.637,
 9.219,
 10.552999999999999,
 9.581999999999999,
 12.016000000000002,
 11.543,
 10.732999999999999,
 12.434999999999999,
 9.746,
 9.364,
 12.256,
 11.893,
 9.385000000000002,
 10.101999999999999,
 11.782,
 8.257,
 9.083,
 10.437999999999999,
 12.565,
 8.798,
 10.123999999999999,
 9.861,
 11.828999999999999,
 12.163,
 11.316999999999998,
 7.917999999999999,
 10.807,
 11.584,
 8.827,
 10.501,
 11.190999999999999,
 9.966999999999999,
 11.888,
 10.057999999999998,
 10.938,
 8.415000000000001,
 9.716000000000001,
 11.706999999999999,
 7.555,
 9.832,
 7.37,
 8.475999999999999,
 10.492999999999999,
 9.097999999999999,
 13.029,
 9.876,
 9.894999999999998,
 9.584,
 9.743,
 12.092,
 11.758999999999999,
 12.562999999999999,
 10.98,
 11.832999999999998,
 11.522999999999998,
 12.705,
 10.037,
 13.348999999999998,
 8.873999999999999,
 7.745,
 10.88,
 9.810999999999998,
 8.266,
 12.094,
 10.423,
 9.347999999999999,
 10.587,
 11.094,
 11.393,
 10.473999999999998,
 10.381,
 11.098,
 9.741999999999999,
 11.115999999999998,
 12.535,
 8.523,
 11.057,
 8.554,
 10.191999999999998,
 8.542,
 11.13,
 10.899,
 10.629,
 8.492,
 13.338,
 10.799,
 12.770999999999999,
 11.909999999999998,
 10.951,
 10.298,
 8.94,
 14.828,
 10.084999999999999,
 9.748999999999999,
 13.338,
 9.104999999999999,
 9.018,
 11.907,
 10.744,
 12.324000000000002,
 9.693,
 9.204,
 10.610999999999999,
 15.316999999999998,
 10.526,
 10.463999999999999,
 10.437999999999999,
 11.589,
 11.074,
 8.836,
 10.594,
 13.426000000000002,
 9.307999999999998,
 10.644,
 10.155000000000001,
 10.542,
 10.609,
 9.367,
 10.888000000000002,
 13.24,
 13.046,
 11.806,
 10.156999999999998,
 12.479,
 9.181,
 12.072999999999999,
 11.177,
 7.805,
 12.213999999999999,
 12.107,
 10.985,
 9.679,
 8.459,
 10.607,
 11.022,
 8.396999999999998,
 11.765,
 7.954,
 9.574,
 12.264,
 10.767,
 10.129999999999999,
 13.179999999999998,
 10.984,
 9.596,
 7.494,
 12.17,
 11.297,
 10.772,
 6.615,
 9.999999999999998,
 11.073,
 10.659,
 14.341,
 11.504999999999997,
 13.899,
 14.568,
 11.531,
 9.902000000000001,
 9.197999999999999,
 10.441999999999998,
 10.761,
 12.434999999999999,
 10.406999999999998,
 9.155000000000001,
 13.827,
 11.062,
 11.645999999999999,
 6.934,
 10.542,
 7.372,
 11.409,
 11.853000000000002,
 13.801,
 11.537999999999998,
 10.286999999999999,
 8.856,
 11.551999999999998,
 10.672,
 13.879,
 12.536999999999999,
 11.267,
 6.688,
 12.625,
 11.062000000000001,
 11.142999999999999,
 11.447,
 11.118,
 11.879,
 11.447000000000001,
 13.017000000000001,
 12.228,
 11.241,
 9.736,
 8.407,
 9.156,
 11.895999999999999,
 11.886,
 10.241999999999999,
 11.417,
 12.382,
 11.687,
 8.35,
 6.911,
 7.4239999999999995,
 11.402000000000001,
 11.229999999999999,
 10.604000000000001,
 10.753,
 9.562999999999999,
 8.081,
 10.341000000000001,
 8.091,
 9.690999999999999,
 9.463,
 12.219999999999999,
 8.032,
 13.415,
 11.604,
 10.625,
 7.702999999999999,
 8.82,
 11.532,
 8.978,
 8.352,
 9.319,
 9.079999999999998,
 9.627,
 13.187,
 9.638,
 10.985999999999999,
 12.264,
 8.836999999999998,
 11.801,
 12.197999999999999,
 8.912999999999998,
 6.979,
 12.511,
 10.485000000000001,
 10.181,
 9.0,
 9.152999999999999,
 8.758,
 8.218,
 10.574,
 9.812999999999999,
 10.302999999999999,
 12.017,
 10.238999999999999,
 12.142999999999999,
 15.0,
 9.988999999999999,
 7.772,
 8.203,
 7.51,
 10.559000000000001,
 10.024000000000001,
 11.58,
 9.946999999999997,
 8.168999999999999,
 8.03,
 6.055000000000001,
 13.364,
 10.806,
 10.040999999999999,
 10.698,
 11.325999999999999,
 10.167,
 8.557,
 8.325999999999999,
 8.841,
 7.218,
 10.033000000000001,
 11.330999999999998,
 10.677999999999999,
 7.519,
 7.908,
 9.511,
 8.658999999999999,
 9.631,
 11.232,
 11.083,
 10.631,
 10.077,
 10.831999999999999,
 8.388,
 12.720999999999998,
 9.272999999999998,
 9.367,
 11.456,
 10.604999999999999,
 11.537,
 10.722999999999999,
 12.097,
 11.796999999999999,
 7.488,
 9.043,
 8.239,
 10.208999999999998,
 11.101,
 9.809999999999999,
 10.391,
 11.725999999999999,
 15.471,
 9.379,
 11.928,
 10.104000000000001,
 8.072,
 9.09,
 11.987,
 9.607999999999999,
 10.482999999999999,
 10.261,
 12.565,
 7.433999999999999,
 11.36,
 9.652000000000001,
 7.669999999999999,
 9.950999999999999,
 7.234999999999999,
 10.331,
 10.645,
 12.199,
 12.385,
 10.679,
 11.766,
 8.270999999999999,
 14.86,
 11.735,
 10.495,
 8.16,
 10.472,
 11.652,
 11.545000000000002,
 11.289,
 10.880999999999998,
 9.089,
 12.530999999999999,
 10.057,
 9.947000000000001,
 11.775,
 9.052,
 9.589,
 9.25,
 10.324,
 9.953,
 10.682000000000002,
 9.267999999999999,
 8.876,
 12.645,
 8.283,
 10.353,
 8.471,
 13.875,
 8.35,
 8.462,
 12.044,
 8.12,
 8.551,
 7.717,
 10.377,
 11.732,
 8.866,
 10.517,
 11.524,
 11.870000000000001,
 10.225,
 8.477,
 9.385,
 12.876,
 9.636,
 11.744000000000002,
 10.216000000000001,
 10.308,
 13.040000000000001,
 8.142999999999999,
 11.560000000000002,
 10.879,
 7.749,
 10.092,
 13.804,
 9.002999999999998,
 7.462999999999999,
 11.997,
 6.938,
 12.075,
 12.005,
 10.749999999999998,
 8.140999999999998,
 8.247,
 14.043,
 10.526,
 9.051,
 10.135,
 11.719,
 10.339,
 9.579,
 8.379999999999999,
 11.674,
 14.222,
 10.438999999999998,
 10.952999999999998,
 11.106,
 8.998999999999999,
 9.728,
 10.786,
 10.427999999999999,
 11.024,
 8.021999999999998,
 12.496,
 8.863999999999999,
 8.384,
 10.659999999999998,
 10.379,
 8.868,
 8.1,
 12.915999999999999,
 9.740999999999998,
 9.176,
 12.894,
 10.952999999999998,
 10.974,
 11.056,
 11.341999999999999,
 12.789,
 13.011,
 11.745,
 7.822,
 11.840999999999998,
 10.596,
 10.991999999999999,
 10.195,
 8.426,
 11.895999999999999,
 9.665999999999999,
 10.47,
 8.741999999999999,
 10.238,
 10.341000000000001,
 11.226999999999999,
 11.922,
 10.021999999999998,
 10.126,
 7.773000000000001,
 11.429,
 11.562,
 7.711,
 12.373,
 8.939,
 8.903,
 8.386,
 10.799999999999999,
 10.863,
 9.129999999999999,
 11.689,
 8.493,
 8.367999999999999,
 8.254999999999999,
 12.578,
 10.732,
 10.857]

In [8]:
# Adding both lists to dataset
data_trans['ResponseAccuracy'] = response_accuracy
data_trans['QuestionDifficulty'] = diff_level

In [9]:
# Viewing the updated dataframe
data_trans.head()

,0,1,2,3,4,5,6,7,8,9,...,992,993,994,995,996,997,998,999,ResponseAccuracy,QuestionDifficulty
Q1,0,1,1,1,1,1,1,0,0,1,...,1,1,0,0,0,1,1,1,0.517,0.483
Q2,1,1,1,1,0,0,1,1,1,1,...,1,1,0,0,0,1,1,0,0.527,0.473
Q3,0,0,0,0,0,0,1,1,0,1,...,0,1,0,0,0,0,0,0,0.303,0.697
Q4,0,1,0,0,1,0,1,0,1,1,...,1,0,0,0,1,1,1,0,0.479,0.521
Q5,0,0,1,1,1,1,1,1,1,1,...,1,0,1,1,0,0,1,1,0.746,0.254

In [10]:
# Preparing the final dataframe
final_data = data_trans.T
final_data

,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10,...,Q41,Q42,Q43,Q44,Q45,Q46,Q47,Q48,Q49,Q50
0,0.000,1.000,0.000,0.000,0.000,0.000,0.000,1.000,0.000,1.000,...,0.000,0.000,1.000,1.000,1.00,0.000,0.000,0.000,1.000,1.000
1,1.000,1.000,0.000,1.000,0.000,0.000,0.000,1.000,0.000,1.000,...,0.000,1.000,0.000,0.000,0.00,0.000,0.000,0.000,0.000,0.000
2,1.000,1.000,0.000,0.000,1.000,0.000,1.000,1.000,0.000,1.000,...,1.000,1.000,0.000,0.000,1.00,0.000,1.000,0.000,1.000,1.000
3,1.000,1.000,0.000,0.000,1.000,1.000,1.000,0.000,0.000,1.000,...,0.000,0.000,0.000,1.000,1.00,0.000,0.000,0.000,1.000,0.000
4,1.000,0.000,0.000,1.000,1.000,0.000,0.000,1.000,0.000,1.000,...,1.000,0.000,1.000,1.000,1.00,0.000,1.000,0.000,1.000,1.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
997,1.000,1.000,0.000,1.000,0.000,0.000,0.000,1.000,1.000,1.000,...,0.000,0.000,1.000,1.000,1.00,0.000,0.000,1.000,1.000,1.000
998,1.000,1.000,0.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,...,0.000,1.000,0.000,0.000,0.00,0.000,0.000,0.000,0.000,0.000
999,1.000,0.000,0.000,0.000,1.000,0.000,1.000,1.000,0.000,1.000,...,1.000,0.000,0.000,0.000,1.00,0.000,0.000,0.000,1.000,1.000
ResponseAccuracy,0.517,0.527,0.303,0.479,0.746,0.166,0.424,0.422,0.528,0.925,...,0.516,0.702,0.341,0.499,0.81,0.367,0.109,0.177,0.662,0.427
QuestionDifficulty,0.483,0.473,0.697,0.521,0.254,0.834,0.576,0.578,0.472,0.075,...,0.484,0.298,0.659,0.501,0.19,0.633,0.891,0.823,0.338,0.573

In [11]:
# Adjusting the length of student ability column
student_ability.extend([np.nan,np.nan])

# Adding the student ability column to the final dataframe
final_data['StudentAbility'] = student_ability

In [12]:
# Viewing the final dataframe
final_data

,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10,...,Q42,Q43,Q44,Q45,Q46,Q47,Q48,Q49,Q50,StudentAbility
0,0.000,1.000,0.000,0.000,0.000,0.000,0.000,1.000,0.000,1.000,...,0.000,1.000,1.000,1.00,0.000,0.000,0.000,1.000,1.000,8.188
1,1.000,1.000,0.000,1.000,0.000,0.000,0.000,1.000,0.000,1.000,...,1.000,0.000,0.000,0.00,0.000,0.000,0.000,0.000,0.000,10.311
2,1.000,1.000,0.000,0.000,1.000,0.000,1.000,1.000,0.000,1.000,...,1.000,0.000,0.000,1.00,0.000,1.000,0.000,1.000,1.000,10.569
3,1.000,1.000,0.000,0.000,1.000,1.000,1.000,0.000,0.000,1.000,...,0.000,0.000,1.000,1.00,0.000,0.000,0.000,1.000,0.000,13.338
4,1.000,0.000,0.000,1.000,1.000,0.000,0.000,1.000,0.000,1.000,...,0.000,1.000,1.000,1.00,0.000,1.000,0.000,1.000,1.000,13.207
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
997,1.000,1.000,0.000,1.000,0.000,0.000,0.000,1.000,1.000,1.000,...,0.000,1.000,1.000,1.00,0.000,0.000,1.000,1.000,1.000,12.578
998,1.000,1.000,0.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,...,1.000,0.000,0.000,0.00,0.000,0.000,0.000,0.000,0.000,10.732
999,1.000,0.000,0.000,0.000,1.000,0.000,1.000,1.000,0.000,1.000,...,0.000,0.000,0.000,1.00,0.000,0.000,0.000,1.000,1.000,10.857
ResponseAccuracy,0.517,0.527,0.303,0.479,0.746,0.166,0.424,0.422,0.528,0.925,...,0.702,0.341,0.499,0.81,0.367,0.109,0.177,0.662,0.427,NaN
QuestionDifficulty,0.483,0.473,0.697,0.521,0.254,0.834,0.576,0.578,0.472,0.075,...,0.298,0.659,0.501,0.19,0.633,0.891,0.823,0.338,0.573,NaN

In [13]:
# Converting to CSV
final_data.to_csv('updated.csv')